<%- include('partials/cytoHeader') %>
      <main class="container">
        <!-- <button id="btn">click me</button> -->
        <div id="cy"></div>
        <div class="header1-ctn ">

              <a href="http://localhost:3000/cola-map3" class="header-item">
                <i class="fa-solid fa-rotate-right"></i>
                <span>刷新图表</span>
              </a>
              <button id="header-item" class="header-item">
                <i class="fa-solid fa-server"></i>
                <span>服务器</span>
                <div class="popup">
                  <p>服务器-01</p>
                  <p>服务器-02</p>
                  <p>服务器-03</p>
                  <p>服务器-04</p>
                </div>
              </button>
              <button id="header-item" class="header-item">
                  <i class="fa-solid fa-square-poll-vertical"></i>
                  <span>统计数据</span>
                  <div class="popup">
                    <p>统计数据-01</p>
                    <p>统计数据-02</p>
                    <p>统计数据-03</p>
                    <p>统计数据-04</p>
                  </div>
              </button>
              <button id="header-item" class="header-item">
                <i class="fa-solid fa-screwdriver-wrench"></i>
                <span>设备</span>
                <div class="popup">
                  <p>设备-01</p>
                  <p>设备-02</p>
                  <p>设备-03</p>
                  <p>设备-04</p>
                </div>
              </button>
          </div>
          <div class="header2-ctn">
            <div class="header-search header-item2">
              <input id="header-search-input" type="text" placeholder="大类搜索"/>
              <button id="header-search-btn" class=""><i class="fa-brands fa-searchengin"></i></button>
            </div>
              <button class="header-item2">
                <i class="fa-solid fa-video"></i>
              </button>
            <button class="header-item2">
              <i class="fa-solid fa-volume-high"></i>
            </button>
            <button class="header-item2">
              <i class="fa-solid fa-cloud"></i>
            </button>
            <button class="header-item2">
              <i class="fa-regular fa-circle-question"></i>
            </button>
            <button class="header-item2">
              <a href="/logout">
                 <i class="fa-solid fa-right-from-bracket"></i>
              </a>
              <!-- <div class="popup">
                <p class="popup-item-user">
               
                </p>
                <p class="popup-item-user">
                 
                </p>
                <p id="logout-btn" class="popup-item-user" >
                   Log-Out
                </p>
              </div> -->
            </button>
        </div>
      </div>

      <div class="sidebar-ctn">
          <button id="side-ads" class="header-item">
            <i class="fa-solid fa-bullhorn"></i>
            <span>广告</span>
          </button>
          <button id="side-product" class="header-item">
            <i class="fa-brands fa-product-hunt"></i>
            <span>产品</span>
          </button>
          <button id="side-contact" class="header-item">
            <i class="fa-solid fa-headset"></i>
            <span>联系</span>
          </button>
      </div>
      <div id="error-id" class="error-id hidden">
        <span> <i class="fa-solid fa-circle-exclamation"></i>
          您提供的信息不正确</span>
      </div>
      <div id="side-ads-popup" class="side-popup side-ads-popup hidden">
        <div class="side-dim">
          <div class="delete-bar"><i id="close-ads" class="fa-solid fa-rectangle-xmark"></i></div>
          <!-- <iframe src="https://baike.baidu.com/item/%E7%89%A9%E8%81%94%E7%BD%91/7306589" width="100%" height="100%" frameborder="0"></iframe> -->
        </div>
      </div>
      <div id="side-product-popup" class="side-popup side-ads-popup hidden">
        <div class="side-dim">
          <div class="delete-bar"><i id="close-product" class="fa-solid fa-rectangle-xmark"></i></div>
          <!-- <iframe src="https://www.bing.com/images/search?q=drone&qs=n&form=QBIR&sp=-1&lq=0&pq=dro&sc=10-3&cvid=EB24BF58D4D2420BBFE274C0AAB49E62&ghsh=0&ghacc=0&first=1" width="100%" height="100%" frameborder="0"></iframe> -->
        </div>
      </div>
        <div id="side-contact-popup"  class="side-popup side-ads-popup side-contact-popup hidden ">
          <div class="side-dim">
          <div class="delete-bar" ><i id="close-contact" class="fa-solid fa-rectangle-xmark"></i></div>
           <img width="100%" height="100%" src="http://localhost:3000/images/card2.png"/>
          </div>
        </div>
      <div id="mydiv" class="hidden">
        <!-- Include a header DIV with the same name as the draggable DIV, followed by "header" -->
        <div id="mydivheader">
          <span id="mydivheader-title">点击此处移动</span>
          <div id="compress-btn" class=" compress">
          <i class="fa-solid fa-down-left-and-up-right-to-center"></i>
        </div>
        <div id="compress-remove" class=" compress-remove">
          <i id="close-compress" class="fa-solid fa-rectangle-xmark"></i>
        </div>
        </div>
        <div id = "drag-ctn" class="drag-ctn">
           
        </div>
      </div>
      <div id="mydiv2" class="mydiv2">
        <!-- Include a header DIV with the same name as the draggable DIV, followed by "header" -->
       
        <div id="mydiv2header2">
          <i class="fa-solid fa-arrows-up-down-left-right"></i>
      </div>
      <div class="header-search header-item2">
        <input id="header-search-input2" type="text" placeholder="品类搜索"/>
        <button id="header-search-btn2" class=""><i class="fa-brands fa-searchengin"></i></button>
      </div>
      </div>

      <div class="footer-ctn">
        <button id="graph-btn" class=" graph-btn header-item">
          <i class="fa-solid fa-network-wired"></i>
          <div class="hover-footer hover-footer-graph child-graph">
            <div id="cola-layout">默认</div>
            <div id="klay-layout">垂直树</div>
            <div id="tidytree-layout">水平树</div>
          </div>
        </button>
            <button id="center-btn" class="header-item">
              <i class="fa-solid fa-arrows-to-circle"></i>
              <div class="hover-footer hover-footer-text">
                双击使图表居中
              </div>
            </button>
            <button id="export-btn" class="header-item">
              <i class="fa-solid fa-download"></i>
              <div class="hover-footer hover-footer-export">
                <div id="export-png">PNG</div>
                <div id="export-jpg">JPG</div>
                <!-- <div id="export-json">JSON</div> -->
              </div>
            </button>
            <button id="compass-btn" class="header-item">
              <i class="fa-solid fa-compass"></i>
              <div class="hover-footer hover-footer-compass">
                <div id="compass-up"><i id="direction" class="fa-solid fa-up-long"></i></div>
                <div id="compass-down"><i id="direction" class="fa-solid fa-down-long"></i></div>
                <div id="compass-left"><i id="direction" class="fa-solid fa-left-long"></i></div>
                <div id="compass-right"><i id="direction" class="fa-solid fa-right-long"></i></div>
              </div>
            </button>
      </main>
      <script>
        var nodesFruits =JSON.parse(`<%-JSON.stringify(nodesFruits)%>`);
        var nodesVegetables =JSON.parse(`<%-JSON.stringify(nodesVegetables)%>`);
        var nodesOthers =JSON.parse(`<%-JSON.stringify(nodesOthers)%>`);
      </script>
      <script type="text/javascript" src="scripts/data.js"></script>
      <script type="text/javascript" src="scripts/utils.js"></script>
      <script type="text/javascript" src="scripts/dom-elements.js"></script>
      <script type="text/javascript" src="scripts/setup.js"></script>
      <script type="text/javascript" src="scripts/event-plain.js"></script>
      <script type="text/javascript" src="scripts/event-cyto.js"></script>

<%- include('partials/cytoFooter') %>